.header{
    padding: 20px;
    background-color: #9dc0fc;
    & ul {
        margin: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        
        & li {
            padding: 0.2em;

            &:hover{
                background-color: blueviolet;
            }
        }
    }
}